<% if @product.has_variants? %>
  <div id="product-variants">
    <ul id="variant-options-list" class="variant-options-list">				
    <% @product.grouped_option_values.each do |type, values| %>
				<li class="variant-options">
					<%= label_tag type.name, type.presentation %>
				<%= select_tag type.name, options_from_collection_for_select(values, "id", "presentation"), :id => "option_type_id_"+type.id.to_s %>
				</li>
    <% end %>
  	</ul>
		
    <%= hidden_field_tag "products[#{@product.id}]", "", :id => "variant_id", :class => "hidden" %>
		
    <script type="text/javascript">
    //<![CDATA[
      var variant_options = new VariantOptionsSelect({
        options: <%== @product.variant_options_hash.to_json -%>,
        track_inventory_levels: <%==  !!Spree::Config[:track_inventory_levels] -%>,
        allow_select_outofstock: <%== !!SpreeVariantOptions::VariantConfig[:allow_select_outofstock] -%>,
        default_instock: <%== !!SpreeVariantOptions::VariantConfig[:default_instock] -%>
      });
    //]]>
    </script>
		
  </div>
<% end%>
